{% extends "new_base.html" %}
{% load staticfiles %}
{% block content %}
<div id="header">
    <br/>
    <h1><b>CITIES</b></h1>
    <div id="sub-head">SORT BY <a href="?q={{ q }}&order_by=name&direction=asc" class="asearch" id="name">Name</a>
        <a href="?q={{ q }}&order_by=country&direction=asc" class="asearch" id="country">Country</a>
    </div>
        <script>
   function getConfig(){
     return localStorage.getItem('config');
   }
   function setSortConfig(e){
     localStorage.setItem('config', e);
   }
    $('.asearch').click(function() {
        var id = this.id;
        switch(id) {
            case "name": {
                state = getConfig()
                if(state == '1000') {
                    document.getElementById("name").href = '?order_by=name&direction=desc'
                    setSortConfig('2000')
                }
                else {
                    document.getElementById("name").href = '?order_by=name&direction=asc'
                    setSortConfig('1000')
                }
            }break;
            case "country": {
                state = getConfig()
                if(state == '0100') {
                    document.getElementById("country").href = '?order_by=country&direction=desc'
                    setSortConfig('0200')
                }
                else {
                    document.getElementById("country").href = '?order_by=country&direction=asc'
                    setSortConfig('0100')
                }
            }break;
        }
        return true;
    });
    $( document ).ready(function() {
        if (getConfig() == "false") {
            setSortConfig('2000')
        }
        state = getConfig()
        switch(state) {
            case "2000": {
              $('#name').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "0200": {
              $('#country').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "1000": {
            $('#name').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
            case "0100": {
            $('#country').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
        }
    });
    </script>
</div>
<div id="content" class="infinite-container">
    {% for city in cities %}
        <div class="infinite-item content-new">
                <div id="text-element">
                    <div id="name_t"><a href="{% url 'publication-show-new' %}?publication_city={{city.id}}">{{ city.name }}</a></div>
                    <div id="original_name_t"><a href="{% url 'publication-show-new' %}?publication_country={{city.country.pk}}">{{ city.country.name}}</a></div>
                </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}">next</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoints/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',

        onBeforePageLoad: function () {

        },
        onAfterPageLoad: function () {

        },
    });
</script>
{% endblock %}