{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-light">  
    <tr>  
        <th>description </th>  
        <th>file </th>
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for document in documents %}  
    <tr>  
        <td>{{ document.description }}</td>
        <td>{{ document.file }} </td>
        <td>  
            <a href="/document/{{ document.id }}/edit"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/document/{{ document.id }}/delete">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/document/new" class="btn btn-primary">Add New Record</a></center>  
{% endblock %}