
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block headjavascript %}
<script>
    var URL = "{% url 'view-input-update' %}";
    var FILES = "{% url 'search-uploaded-files' %}";
</script>
<script type="text/javascript" src="{% static 'js/search.js' %}"> </script>
{% endblock headjavascript %}
{% block content %}
<h1>Search page</h1>
<br/>
<form action="{% url 'publication-show' %}" method="get" class="form">
    Title original language: <span id="language_title">unknown</span>
    <br />
    <br />
    {% csrf_token %}
    {% crispy form form.helper %}
</form>
{% endblock %}
