

<!DOCTYPE html>
<html>
    <head>
        <title>Four Corners of the World Library</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/css/netflix_grid.css">

        <script type="text/javascript" src="/static/jquery/js/jquery-3.4.1.min.js">  </script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap-tab.js">  </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/static/css/select2-bootstrap4.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
        <script type="text/javascript" src="/static/js/base.js">  </script>
        <script src="/static/js/dropzone/dist/dropzone.js"></script>
        <link rel="stylesheet" href="/static/js/dropzone/dist/basic.css">
        <link rel="stylesheet" href="/static/js/dropzone/dist/dropzone.css">
        <script src="/static/js/jquery.bootstrap.modal.forms.min.js"></script>

        <link href="/static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

   </head>

<body>
{% load staticfiles %}

<div id="mySidenav" class="sidenav">
  <a class="link grid" href="/" id="grid"><div title="grid"></div></a>
  <a class="link publications Down" href="/publications" id="publications"><div title="publications"></div></a>
  <a class="link cities" href="/spacetime" id="spacetime"><div title="spactime"></div></a>	
  <a class="link about" href="/about" id="about"><div title="publications"></div></a>	
  <a class="link churches" href="/churches" id="churches"><div title="churches"></div></a>
  <a class="link languages" href="/languages" id="languages"><div title="languages"></div></a>
  <a class="link authors" href="/authors" id="authors"><div title="authors"></div></a>
  <a class="link translators" href="/translators" id="translators"><div title="translators"></div></a>
  <a class="link genres" href="/genres" id="genres"><div title="genres"></div></a>
  <a class="link filecategories" href="/filecategories" id="filecategories"><div title="filecategories"></div></a>
  <a class="link form_of_publications" href="/form_of_publications" id="form_of_publications"><div title="form of publications"></div></a>
  </div>

<br />
<br />
<div class="main">
  <center><h1>FOUR CORNERS OF THE WORLD LIBRARY</h1>
  </center>

<form class="search" action="publications"><input name="q"></form>

<p id="explanation">The Four-Corners-of-the-World database collects publications by Oriental Orthodox Christians over the past fifty years as they are (and were) used in European communities. This includes publications produced in Europe as well as in other parts of the world, in a large variety of languages. This database was set-up by the members of the project Rewriting Global Orthodoxy: Oriental Orthodox Christians in Europe, 1970-2020, and hosted by Radboud University, Nijmegen. The project has received funding from the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme (grant agreement No. 834441 GlobalOrthodoxy).</p>

<div class="logos">
	<img class="logo erc_logo" src="https://erc.europa.eu/sites/default/files/LOGO_ERC-FLAG_EU_.jpg">
	<img class="logo ru_logo" src="https://www.ru.nl/themes/custom/ru/logo.png">
</div>

<center>
{% for publication, cover_image, search_term_appear_in in zipped_data %}

      {% if forloop.counter0 == 0 %}
      <ul class="hs full">
      {% endif %}
        <a href="/publication/{{ publication.id }}/public">
          <li class="item" style="background-image: url('/media/{{ cover_image }}');">
          </li>
        </a>
      {% if forloop.counter|divisibleby:10 %}
      </ul>
      <ul class="hs full">
      {% endif %}

{%  endfor %}
</center>
</div>
</body>
</html>