{% extends "new_base.html" %}
{% load staticfiles %}
{% block content %}
<div id="header">
    <br/>
    <h1><b>LANGUAGES</b></h1>
	<p>List of languages used in the publications (often more than one in a single publication).</p>
	
    <div id="sub-head">SORT BY <a href="#" class="asearch" id="language_name">Name</a>
    </div>
        <script>
   function isAscending(){
     return localStorage.getItem('asc') == 'true';
   }
   function setAsc(){
     localStorage.setItem('asc', 'true');
   }
   function setDsc(){
     localStorage.setItem('asc', 'false');
   }
    $('#language_name').click(function() {
        //var color = $('#church_name').css('color');
        if (isAscending()) {
            //(color === 'rgb(155, 155, 166)')
            document.getElementById("language_name").href = '?order_by=name&direction=asc'
            setDsc()
        }
        else {
            document.getElementById("language_name").href = '?order_by=name&direction=desc'
            setAsc()
        }
        return true;
    });
    $( document ).ready(function() {
        if(isAscending()) {
            $('#language_name').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
        }
        else {
              $('#language_name').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
        }
    });
    </script>
</div>
<div id="content" class="infinite-container">
    {% for lang in languages %}
        <div id="language_content" class="infinite-item">
            <div id="text-element">
                <div id="title_text">
                    <div id="important_field">
                        <a href="{% url 'publication-show-new' %}?language={{lang.id}}">{{ lang.name }}</a>
                     </div>
                        <br/>
                    <a href="{% url 'publication-show-new' %}?q={{lang.direction}}">{{ lang.direction }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}">next</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoints/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',

        onBeforePageLoad: function () {

        },
        onAfterPageLoad: function () {

        },
    });
</script>
{% endblock %}