{% extends "new_base.html" %}
{% load staticfiles %}
{% block content %}
<center>
    <h1>{{ object.title }}</h1><br/>
    <a target="_blank" href="/media/{{ cover_image }}"><img src="/media/{{ cover_image_small }}" width="400" height="400" id="crop_image"></a>
</center>
    <br/><br/>

<div class="title_section">
	<span id="detail_title">TITLE</span><br/>
	{{ object.title }}
	
	{% if object.title_subtitle_transcription %}
	
		- {{ object.title_subtitle_transcription }} 
	{% endif %}

	{% if object.title_translation %}
		(English: {{ object.title_translation }})
	{% endif %}

	{% if object.title2 %}
	
		<br><br>
	
		<span id="detail_title">ALTERNATIVE TITLE</span><br/>
		{{ object.title2 }}
		
		{% if object.title_subtitle_transcription2 %}
		
			- {{ object.title_subtitle_transcription2 }} 
		{% endif %}

		{% if object.title_translation2 %}
			(English: {{ object.title_translation2 }})
		{% endif %}	

	{% endif %}
	
	{% if object.title3 %}
	
		<br><br>
	
		<span id="detail_title">ALTERNATIVE TITLE</span><br/>
		{{ object.title3 }}
		
		{% if object.title_subtitle_transcription3 %}
		
			- {{ object.title_subtitle_transcription3 }} 
		{% endif %}

		{% if object.title_translation3 %}
			(English: {{ object.title_translation3 }})
		{% endif %}	

	{% endif %}	

</div>

<br><br>

<div class="all_row">

    <div class="col_part">
        {% for author in object.authors.all %} 
        <span id="detail_title">AUTHOR NAME {{ forloop.counter }}</span> <br>
        <a href="/new/?authors={{ author.pk }}">{{ author.name }}</a><br/>
        <span id="detail_title">AUTHOR NAME ORIGINAL LANGUAGE {{ forloop.counter }}</span><br>
        <a href="/new/?authors={{ author.pk }}">{{ author.name_original_language }}</a><br>
        {% if forloop.last %}
        <br/>
        {% endif %}
        {% endfor %}
        {% if object.translated_from %}
        <span id="detail_title">TRANSLATED FROM</span><br/>
        {{ object.translated_from.name }}<br/>
        {% endif %}
        {% if object.editor %}
        <span id="detail_title">EDITOR</span><br/>
        {{ object.editor }}<br/><br/>
        {% endif %}
        {% if object.printed_by %}
        <span id="detail_title">PRINTED BY</span><br/>
        {{ object.printed_by }}<br/><br/>
        {% endif %}
        {% if object.publication_year and not object.is_periodical %}
        <span id="detail_title">PUBLICATION YEAR</span><br/>
        {{ object.publication_year }}<br/><br/>
        {% endif %}
        {% if object.publication_country %}
        <span id="detail_title">PUBLICATION COUNTRY</span><br/>
        {{ object.publication_country.name }}<br/><br/>
        {% endif %}
        {% if object.publishing_organisation %}
        <span id="detail_title">PUBLISHING ORGANISATION</span><br/>
        {{ object.publishing_organisation }}<br/><br/>
        {% endif %}
        {% if object.donor %}
        <span id="detail_title">DONOR</span><br/>
        {{ object.donor }}<br/><br/>
        {% endif %}
        {% if object.extra_info %}
        <span id="detail_title">EXTRA INFO</span><br/>
        {{ object.extra_info }}<br/><br/>
        {% endif %}
        {% for language in object.language.all %}
        <span id="detail_title">LANGUAGE {{ forloop.counter }}</span><br/>
        {{ language.name }}<br/>
        {% if forloop.last %}
        <br/>
        {% endif %}
        {% endfor %}
        {% for genre in object.content_genre.all %}
        <span id="detail_title">GENRE {{ forloop.counter }}</span><br/>
        {{ genre.name }}<br/>
        {% if forloop.last %}
        <br/>
        {% endif %}
        {% endfor %}
        {% if object.description_of_illustration %}
        <span id="detail_title">DESCRIPTION OF ILLUSTRATION</span><br/>
        {{ object.description_of_illustration }}<br/><br/>
        {% endif %}
        {% if object.nr_of_pages %}
        <span id="detail_title">NR OF PAGES</span><br/>
        {{ object.nr_of_pages }}<br/><br/>
        {% endif %}
        {% for keyword in object.keywords.all %}
		{% if forloop.first %}
        <span id="detail_title">KEYWORDS</span><br/>
		{% endif %}
        {{ keyword.name }}
        {% if forloop.last %}
        <br/>
		{% else %}
		,
        {% endif %}
        {% endfor %}
		<br/>
		<span id="detail_title">CITATION</span><br/>
		{% for author in object.authors.all %}{{ author.name }}{% if not forloop.last %},{% else %}.{% endif %}{% endfor %} {{ object.title }}{% if object.title_translation%}, {{ object.title_translation }}{% endif %}. {% if object.city %}{{object.city}},{% endif %} {{object.published_by}}{% if object.publication_year %}{% if object.city or object.published_by %}, {% endif %}{{object.publication_year}}{% endif %}.

    </div>
    <div class="col_part">
        {% for translator in object.translators.all %}
        <span id="detail_title">TRANSLATOR NAME {{ forloop.counter }}</span><br/>
        <a href="/new/?translators={{ translator.pk }}">{{ translator.name }}</a><br/>
			
		{% if translator.name_original_name %}
			<span id="detail_title">TRANSLATOR NAME ORIGINAL LANGUAGE {{ forloop.counter }}</span><br/>
			<a href="/new/?translators={{ translator.pk }}">{{ translator.name_original_language }}</a><br/>
		{% endif %}

        {% if forloop.last %}
        <br/>
        {% endif %}
        {% endfor %}
        <span id="detail_title">IS A TRANSLATION</span><br/>
        {% if object.is_a_translation %}
         <span id="detail_title">Yes</span><br/>
        {% elif object.is_a_translation == None %}
         <span id="detail_title">Unknown</span><br/>
        {% else %}
         <span id="detail_title">No</span><br/>
        {% endif %}<br/>
        {% for form_of_publication in object.form_of_publication.all %}
        <span id="detail_title">FORM OF PUBLICATION {{ forloop.counter }}</span><br/>
        {{ form_of_publication.name }}<br/>
        {% if forloop.last %}
        <br/>
        {% endif %}
        {% endfor %}
        {% if object.ISBN_number %}
        <span id="detail_title">ISBN NUMBER</span><br/>
        {{ object.ISBN_number }}<br/><br/>
        {% endif %}
        {% if object.published_by %}
        <span id="detail_title">PUBLISHED BY</span><br/>
        {{ object.published_by }}<br/><br/>
        {% endif %}
        {% if object.is_periodical %}
        <span id="detail_title">PERIODICAL</span><br/>
        {{ object.start_year }} - {{ object.end_year }}<br/>
        <span id="detail_title">ONGOING</span><br/>
        {{ object.ongoing }}<br/><br/>
        {% endif %}
        {% if object.publication_city %}
        <span id="detail_title">PUBLICATION CITY</span><br/>
        {{ object.publication_city.name }}<br/><br/>
        {% endif %}
        {% for church in object.affiliated_church.all %}
        <span id="detail_title">CHURCH {{ forloop.counter }}</span><br/>
        {{ church.name }}<br/>
        {% if forloop.last %}
        <br/>
        {% endif %}
        {% endfor %}
        {% if object.content_description %}
        <span id="detail_title">CONTENT DESCRIPTION</span><br/>
        {{ object.content_description }}<br/><br/>
        {% endif %}
        {% for occasion in object.connected_to_special_occasion.all %}
        <span id="detail_title">SPECIAL OCCASION {{ forloop.counter }}</span><br/>
        {{ occasion.name }}<br/>
        {% if forloop.last %}
        <br/>
        {% endif %}
        {% endfor %}
        {% for image_detail in object.image_details.all %}
        <span id="detail_title">IMAGE DETAIL {{ forloop.counter }}</span><br/>
        <span id="detail_title">NAME OF SOURCE</span><br/>
        {{ image_detail.name_of_source }}<br/>
        <span id="detail_title">CONTACT OF SOURCE</span><br/>
        {{ image_detail.contact_of_source }}<br/>
        <span id="detail_title">COPYRIGHT DETAILS</span><br/>
        {{ image_detail.copyright_issues }}<br/>
        {% if forloop.last %}
        <br/>
        {% endif %}
        {% endfor %}
        {% if object.general_comments %}
        <span id="detail_title">GENERAL COMMENTS</span><br/>
        {{ object.general_comments }}<br/><br/>
        {% endif %}



    </div>
</div>
    {% for file in object.uploadedfiles.all %}
    {% if file.is_deleted == False and file.file != cover_image %}
        <div class="uploaded-file"><a target="_blank" href="/media/{{ file.file }}"><img src="/media/{{ file.file }}" width="300" height="300" id="crop_image"></a><br>{{ file.image_contents}}</div>
    {% endif %}
    {% endfor %}
{% endblock %}