{% extends "new_base.html" %}
{% load staticfiles %}
{% block content %}
<div id="header">
    <br/>
    <h1><b>OWNERS</b></h1>
    <div id="sub-head">SORT BY <a href="#" class="asearch" id="owner_name">Name</a>
    </div>
    <script>
   function isAscending(){
     return localStorage.getItem('asc') == 'true';
   }
   function setAsc(){
     localStorage.setItem('asc', 'true');
   }
   function setDsc(){
     localStorage.setItem('asc', 'false');
   }
    $('#owner_name').click(function() {
        if (isAscending()) {
            document.getElementById("owner_name").href = '?order_by=name&direction=asc'
            setDsc()
        }
        else {
            document.getElementById("owner_name").href = '?order_by=name&direction=desc'
            setAsc()
        }
        return true;
    });
    $( document ).ready(function() {
        if(isAscending()) {
            $('#owner_name').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
        }
        else {
              $('#owner_name').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
        }
    });
    </script>
</div>
<div id="content" class="infinite-container">
    {% for owner in owners %}
        <div class="infinite-item content-new">
            <div id="text-element">
                <div id="title_text">
                    <div id="important_field">
                     <br/> {{ owner.name }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}">next</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoints/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',

        onBeforePageLoad: function () {

        },
        onAfterPageLoad: function () {

        },
    });
</script>
{% endblock %}