{% extends "base.html" %}
{% block content %}
</br>
<p><b>Titles</b></p>

<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-light">  
    <tr>  
        <th>Title</th>
        <th>Title subtitle transcription</th>
        <th>Title translation</th>
        <th>PDF url</th>
    </tr>
    </thead>
    <tbody>  
    <tr>  
        <td style="text-align: start;unicode-bidi: plaintext;">{{ object.title }}</td>
        <td>{{ object.title_subtitle_transcription}}</td>
        <td>{{ object.title_translation }}</td>
        <td><a href="{{ object.pdf_url }}">{{ object.pdf_url }}</a></td>
    </tr>
    </tbody>
</table>
{% if object.title2 or object.title_subtitle_transcription2 or object.title_translation2 %}

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Title 2</th>
        <th>Title subtitle transcription2</th>
        <th>Title translation2</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: start;unicode-bidi: plaintext;">{{ object.title2 }}</td>
        <td>{{ object.title_subtitle_transcription2}}</td>
        <td>{{ object.title_translation2 }}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.title3 or object.title_subtitle_transcription3 or object.title_translation3 %}

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Title 3</th>
        <th>Title subtitle transcription3</th>
        <th>Title translation3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: start;unicode-bidi: plaintext;">{{ object.title3 }}</td>
        <td>{{ object.title_subtitle_transcription3}}</td>
        <td>{{ object.title_translation3 }}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.title4 or object.title_subtitle_transcription4 or object.title_translation4 %}

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Title 4</th>
        <th>Title subtitle transcription4</th>
        <th>Title translation4</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: start;unicode-bidi: plaintext;">{{ object.title4 }}</td>
        <td>{{ object.title_subtitle_transcription4}}</td>
        <td>{{ object.title_translation4 }}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.title5 or object.title_subtitle_transcription5 or object.title_translation5 %}

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Title 5</th>
        <th>Title subtitle transcription5</th>
        <th>Title translation5</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: start;unicode-bidi: plaintext;">{{ object.title5 }}</td>
        <td>{{ object.title_subtitle_transcription5}}</td>
        <td>{{ object.title_translation5 }}</td>
    </tr>
    </tbody>
</table>
{% endif %}

{% if object.authors.all %}
<p><b>Authors</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name </th>
        <th>name original language</th>
        <th>extra info</th>
    </tr>
    </thead>
    <tbody>
{% for author in object.authors.all %}
    <tr>
        <td>{{author.name}}</td>
        <td>{{author.name_original_language}}</td>
        <td>{{author.extra_info}}</td>
    </tr>
{% empty %}
     </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if object.translators.all %}
<p><b>Translators</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name </th>
        <th>name original language</th>
        <th>extra info</th>
    </tr>
    </thead>
    <tbody>
{% for translator in object.translators.all %}
    <tr>
        <td>{{translator.name}}</td>
        <td>{{translator.name_original_language}}</td>
        <td>{{translator.extra_info}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>  
</br>  
{% endif %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Is a translation?</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% if object.is_a_translation %}
        <td>Yes</td>
        {% elif object.is_a_translation == None %}
        <td>Unknown</td>
        {% else %}
        <td>No</td>
        {% endif %}
    </tr>
    </tbody>
</table>
{% if object.translated_from %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>translated from</th>
        <th>direction</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.translated_from.name}}</td>
        <td>{{object.translated_from.direction}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.form_of_publication.all %}
<p><b>Form of publications</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name </th> 
    </tr>
    </thead>
    <tbody>
{% for form_of_publication in object.form_of_publication.all %}
    <tr>
        <td>{{form_of_publication.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.editor %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>editor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.editor}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.ISBN_number %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>ISBN number</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.ISBN_number}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.printed_by %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>printed by</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.printed_by}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.published_by %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>published by</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.published_by}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.publication_year and not object.is_periodical %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>publication year</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.publication_year}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.is_periodical %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Start year</th>
        <th>End year</th>
        <th>Ongoing</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ object.start_year }}</td>
        <td>{{ object.end_year }}</td>
        <td>{{ object.ongoing }}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.publication_country %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>publication country</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.publication_country.name}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.publication_city %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>publication city</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.publication_city.name}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.publishing_organisation %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>publishing organisation</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.publishing_organisation}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.currency %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>currency</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.get_currency_display }}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.price %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.price}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.donor %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>donor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.donor}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.affiliated_church.all %}
<p><b>Churches</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name</th> 
    </tr>
    </thead>
    <tbody>
{% for church in object.affiliated_church.all %}
    <tr>
        <td>{{church.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.extra_info %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>extra info</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.extra_info}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.language.all %}
<p><b>Languages</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>name</th>
        <th>direction</th>
    </tr>
    </thead>
    <tbody>
{% for language in object.language.all %}
    <tr>
        <td>{{language.name}}</td>
        <td>{{language.direction}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if object.content_description %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>content description</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.content_description}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.content_genre.all %}
<p><b>Content genres</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name</th> 
    </tr>
    </thead>
    <tbody>
{% for genre in object.content_genre.all %}
    <tr>
        <td>{{genre.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.connected_to_special_occasion.all %}
<p><b>Connected to special occassions</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name</th> 
    </tr>
    </thead>
    <tbody>
{% for occasion in object.connected_to_special_occasion.all %}
    <tr>
        <td>{{occasion.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.description_of_illustration %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>description of illustration</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.description_of_illustration}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.image_details.all %}
<p><b>Image Details</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Name of source</th>
        <th>Contact of source</th>
        <th>Copyright issues</th>
    </tr>
    </thead>
    <tbody>
{% for image_detail in object.image_details.all %}
    <tr>
        <td>{{image_detail.name_of_source}}</td>
        <td>{{image_detail.contact_of_source}}</td>
        <td>{{image_detail.copyright_issues}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if object.nr_of_pages %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>number of pages</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.nr_of_pages}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.keywords.all %}
<p><b>Keywords</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>name </th>
    </tr>
    </thead>
    <tbody>
{% for keyword in object.keywords.all %}
    <tr>
        <td>{{keyword.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if user.is_authenticated %}
{% if object.collection_date %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>collection date</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.collection_date}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.collection_country %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>collection country</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.collection_country.name}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.collection_venue_and_city %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>collection venue and city</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.collection_venue_and_city}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.collection_context %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Collection context</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.collection_context}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>copyrights</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        {% if object.copyrights %}
        <td>Yes</td>
        {% elif object.copyrights == None %}
        <td>Unknown</td>
        {% else %}
        <td>No</td>
        {% endif %}
    </tr>
    </tbody>
</table>
{% if object.currently_owned_by.all and user.is_authenticated %}
<p><b>Currently owned by</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name</th> 
    </tr>
    </thead>
    <tbody>
{% for owner in object.currently_owned_by.all %}
    <tr>
        <td>{{owner.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.contact_telephone_number %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>contact telephone number</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.contact_telephone_number}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.contact_email %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>contact email</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.contact_email}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.contact_website %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>contact website</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.contact_website}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% endif %}
{% if object.general_comments %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>general comments</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.general_comments}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.team_comments and user.is_authenticated %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>team comments</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.team_comments}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.uploadedfiles.all %}
<p><b>Uploaded files</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>image title</th>
        <th>filecategory</th>
        <th>image contents</th>
        <th>files </th>
        <th>image </th>
        <th>uploaded at</th>
    </tr>
    </thead>
    <tbody>
{% for file in object.uploadedfiles.all %}
    {% if file.is_deleted == False %}
    <tr>
        <td>{{file.image_title}}</td>
        <td>{{ file.filecategory.name }}</td>
        <td>{{ file.image_contents }}</td>
        <td><a href="/media/{{file.file}}">/media/{{ file.file }}</a></td>
        <td><img src="/media/{{ file.file }}" width="100" height="100" id="crop_image"></td>
        <td>{{file.uploaded_at}}</td>
    {% endif %}
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.created_by %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>created by</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.created_by}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
    
{% endblock %}