{% extends "base.html" %}
{% block content %}
</br>
<p><b> Titles</b></p>

<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-light">  
    <tr>  
        <th>Title original</th>  
        <th>Title subtitle transcription</th>  
        <th>Title subtitle european</th>  
        <th>Title translation</th>  
    </tr>
    </thead>
    <tbody>  
    <tr>  
        <td style="text-align: start;unicode-bidi: plaintext;">{{ object.title_original }}</td>  
        <td>{{ object.title_subtitle_transcription}}</td>  
        <td>{{ object.title_subtitle_european }}</td>  
        <td>{{ object.title_translation }}</td>
    </tr>
    </tbody>
</table>    
</br>
{% if object.author.all %}
<p><b>Authors</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name </th>
        <th>year of birth</th>
    </tr>
    </thead>
    <tbody>
{% for author in object.author.all %}
    <tr>
        <td>{{author.name}}</td>
        <td>{{author.year_of_birth}}</td>
    </tr>
{% empty %}
     </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if object.translator.all %}
<p><b>Translators</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name </th>
    </tr>
    </thead>
    <tbody>
{% for translator in object.translator.all %}
    <tr>
        <td>{{translator.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>  
</br>  
{% endif %}
{% if object.is_translated %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>Is translated?</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.is_translated}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.translated_from %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>translated from</th>
        <th>direction</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.translated_from.name}}</td>
        <td>{{object.translated_from.direction}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.form_of_publication.all %}
<p><b>Form of publications</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name </th> 
    </tr>
    </thead>
    <tbody>
{% for form_of_publication in object.form_of_publication.all %}
    <tr>
        <td>{{form_of_publication.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.ISBN_number %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>ISBN number</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.ISBN_number}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.printed_by %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>printed by</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.printed_by}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.published_by %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>published by by</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.published_by}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.publication_date %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>publication date</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.publication_date}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.publication_country %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>publication country</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.publication_country.name}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.publication_city %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>publication city</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.publication_city.name}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.publishing_organisation %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>publishing organisation</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.publishing_organisation}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.possible_donor %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>possible donor</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.possible_donor}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.affiliated_church.all %}
<p><b>Churches</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name</th> 
    </tr>
    </thead>
    <tbody>
{% for church in object.affiliated_church.all %}
    <tr>
        <td>{{church.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.language.all %}
<p><b>Languages</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>name</th>
        <th>direction</th>
    </tr>
    </thead>
    <tbody>
{% for language in object.language.all %}
    <tr>
        <td>{{language.name}}</td>
        <td>{{language.direction}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if object.content_description %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>content description</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.content_description}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.content_genre.all %}
<p><b>Content genres</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name</th> 
    </tr>
    </thead>
    <tbody>
{% for genre in object.content_genre.all %}
    <tr>
        <td>{{genre.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.connected_to_special_occasion.all %}
<p><b>Connected to special occassions</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name</th> 
    </tr>
    </thead>
    <tbody>
{% for occasion in object.connected_to_special_occasion.all %}
    <tr>
        <td>{{occasion.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.description_of_illustration %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>description of illustration</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.description_of_illustration}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.image_details %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>image details</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.image_details}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.nr_of_pages %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>number of pages</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.nr_of_pages}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.keywords.all %}
<p><b>Keywords</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>name </th>
    </tr>
    </thead>
    <tbody>
{% for keyword in object.keywords.all %}
    <tr>
        <td>{{keyword.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %}
    </tbody>
</table>
</br>
{% endif %}
{% if object.collection_date %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>collection date</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.collection_date}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.collection_country %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>collection country</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.collection_country.name}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.collection_venue_and_city %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>collection venue and city</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.collection_venue_and_city}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.copyrights %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>copyrights</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.copyrights}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.currently_owned_by.all %}
<p><b>Currently owned by</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>name</th> 
    </tr>
    </thead>
    <tbody>
{% for owner in object.currently_owned_by.all %}
    <tr>
        <td>{{owner.name}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.contact_telephone_number %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>contact telephone number</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.contact_telephone_number}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.contact_email %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>contact email</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.contact_email}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.contact_website %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>contact website</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.contact_website}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.comments %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>comments</th> 
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.comments}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
{% if object.uploadedfiles.all %}
<p><b>Uploaded files</b></p>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light"> 
    <tr>
        <th>description</th> 
        <th>files </th>
        <th>uploaded at</th>
    </tr>
    </thead>
    <tbody>
{% for file in object.uploadedfiles.all %}
    <tr>
        <td>{{file.description}}</td>
        <td><a href="/media/{{file.file}}">{{ file.file }}</a></td>
        <td>{{file.uploaded_at}}</td>
    </tr>
{% empty %}
    </br>
{% endfor %} 
    </tbody>
</table>   
</br> 
{% endif %}
{% if object.created_by %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">
    <tr>
        <th>created by</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.created_by}}</td>
    </tr>
    </tbody>
</table>
{% endif %}
    
{% endblock %}