{% extends "new_base.html" %}
{% load staticfiles %}
{% block content %}
<div id="header">
    <br/>
    <h1><b>PUBLICATIONS</b></h1>
    <div id="sub-head">SORT BY <a href="?q={{ q }}&order_by=date_created&direction=asc" class="asearch" id="creation">Creation date</a>
        <a href="?q={{ q }}&order_by=title&direction=asc" class="asearch" id="title">Title</a>
        <a href="?q={{ q }}&order_by=author_name&direction=asc" class="asearch" id="author">Author</a>
        <a href="?q={{ q }}&order_by=publication_year&direction=asc" class="asearch" id="year">Year</a>
    </div>
        <script>
   function getConfig(){
     return localStorage.getItem('config');
   }
   function setSortConfig(e){
     localStorage.setItem('config', e);
   }
    $('.asearch').click(function() {
        var id = this.id;
        switch(id) {
            case "creation": {
                state = getConfig()
                if(state == '1000') {
                    document.getElementById("creation").href = '?order_by=date_created&direction=desc'
                    setSortConfig('2000')
                }
                else {
                    document.getElementById("creation").href = '?order_by=date_created&direction=asc'
                    setSortConfig('1000')
                }
            }break;
            case "title": {
                state = getConfig()
                if(state == '0100') {
                    document.getElementById("creation").href = '?order_by=title&direction=desc'
                    setSortConfig('0200')
                }
                else {
                    document.getElementById("creation").href = '?order_by=title&direction=asc'
                    setSortConfig('0100')
                }
            }break;
            case "author": {
                state = getConfig()
                if(state == '0010') {
                    document.getElementById("creation").href = '?order_by=author_name&direction=desc'
                    setSortConfig('0020')
                }
                else {
                    document.getElementById("creation").href = '?order_by=author_name&direction=asc'
                    setSortConfig('0010')
                }
            }break;
            case "year": {
                state = getConfig()
                if(state == '0001') {
                    document.getElementById("creation").href = '?order_by=publication_year&direction=desc'
                    setSortConfig('0002')
                }
                else {
                    document.getElementById("creation").href = '?order_by=publication_year&direction=asc'
                    setSortConfig('0001')
                }
            }break;
        }
        return true;
    });
    $( document ).ready(function() {
        if (getConfig() == "false") {
            setSortConfig('2000')
        }
        state = getConfig()
        switch(state) {
            case "2000": {
              $('#creation').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "0200": {
              $('#title').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "0020": {
              $('#author').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "0002": {
              $('#year').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "1000": {
            $('#creation').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
            case "0100": {
            $('#title').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
            case "0010": {
            $('#author').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
            case "0001": {
            $('#year').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
        }
    });
    </script>
</div>
<div id="content" class="infinite-container">
    {% for publication, cover_image, search_term_appear_in in zipped_data %}
        <div id="publication_content" class="infinite-item">
            <a id="cover_image" href="/new/publication/{{ publication.id }}/detail_view"><img src="/media/{{ cover_image }}" width="200" height="200" id="crop_image"></a>
            <div id="right-element">
                <div id="text-element">
                    <div id="title_text">{{ publication.get_truncated_title_new }}</div>
                    <div id="title_translation">{{ publication.get_truncated_title_translation_new }}</div>
                </div>
                <div id="bottom_right-element">
                    <div id="author_name">{{ publication.get_truncated_author_name_new }}</div>
                    <div id="publication_place_year">{{ publication.publication_city.name }} ({{ publication.publication_country }}), {{ publication.publication_year }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}&affiliated_church={{ affiliated_church }}&authors={{ authors }}&translators={{ translators }}&form_of_publication={{ form_of_publication }}&publication_city={{ publication_city }}&languages={{ languages }}&content_genre={{ content_genre }}&connected_to_special_occasion={{ connected_to_special_occasion }}&currently_owned_by={{ currently_owned_by }}&keywords={{ keywords }}&uploadedfiles={{ uploadedfiles }}&filecategory={{ filecategory }}">next</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoints/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',

        onBeforePageLoad: function () {

        },
        onAfterPageLoad: function () {

        },
    });
</script>
{% endblock %}