{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">  
    <tr>
        <th>Cover Image</th>
        <th>Title original  <a href="?q={{ q }}&order_by=title_original&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=title_original&direction=desc" class="arrow down"></a></th>
        <th>Title subtitle transcription <a href="?q={{ q }}&order_by=title_subtitle_transcription&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=title_subtitle_transcription&direction=desc" class="arrow down"></a></th>
        <th>Title translation <a href="?q={{ q }}&order_by=title_translation&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=title_translation&direction=desc" class="arrow down"></a></th></th>
        <th>Actions</th>

    </tr>  
    </thead>
    <tbody>
    <br />
{% for publication in publications %}  
    <tr id="publications">
        {% if publication.coverfile.file %}
        <td style="text-align: center;"><img src="/media/{{publication.coverfile.file}}" width="200" height="200"></td>
        {% else %}
        <td></td>
        {% endif %}
        <td style="text-align: start;unicode-bidi: plaintext;">{{ publication.title_original }}</td>
        <td>{{ publication.title_subtitle_transcription}}</td>
        <td>{{ publication.title_translation }}</td>  
        <td> 
            <a href="/publication/{{ publication.id }}/detail_view">View</a>
            <a href="/publication/{{ publication.id }}/edit"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a class="confirm-delete-pub" href="/publication/{{ publication.id }}/delete">Delete</a>
        </td>

    </tr>
{% endfor %}  
    </tbody>  
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?q={{ q }}&page=1&order_by={{order_by}}&direction={{ direction }}">&laquo; first</a>
            <a href="?q={{ q }}&page={{ page_obj.previous_page_number }}&order_by={{order_by}}&direction={{ direction }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?q={{ q }}&page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}">next</a>
            <a href="?q={{ q }}&page={{ page_obj.paginator.num_pages }}&order_by={{order_by}}&direction={{ direction }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}