{% extends "base.html" %}
{% block content %}
    <br />
    <form action="{% url 'publication-show' %}?{{ request.GET.urlencode }}" method="post">
        {% csrf_token %}
        <input type="submit" value="Export CSV" data-toggle="modal" data-target="#CsvModal" style="margin:0px auto; display:block;"/>
            <!-- Modal -->
        <div id="CsvModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title col-md-10">Instructions for opening CSV</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <ol>
                  <li>Open Microsoft Excel</li>
                  <li>Go to tab 'Data'</li>
                  <li>Click on 'From text'</li>
                  <li>Select the CSV file which has just been downloaded</li>
                  <li>Choose delimited for tab seperation</li>
                  <li>Set File origin to: 65001 : Unicode (UTF-8) for all characters</li>
                  <li>Press next under delimiters select Tab only</li>
                  <li>Press next and then press finish</li>
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
    </form>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-light">  
    <tr>
        <th>Date Created<br/><a href="?q={{ q }}&order_by=date_created&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=date_created&direction=desc" class="arrow down"></a></th>
        <th>Cover Image</th>
        <th>Title <br/><a href="?q={{ q }}&order_by=title&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=title&direction=desc" class="arrow down"></a></th>
        <th>Title translation<br/><a href="?q={{ q }}&order_by=title_translation&direction=asc" class="arrow up"></a> <a href="?q={{ q }}&order_by=title_translation&direction=desc" class="arrow down"></a></th>
        <th>Author name <br/><a href="?order_by=author_name&direction=asc" class="arrow up"></a> <a href="?order_by=author_name&direction=desc" class="arrow down"></a> </th>
        <th>Publication year<br/><a href="?order_by=publication_year&direction=asc" class="arrow up"></a> <a href="?order_by=publication_year&direction=desc" class="arrow down"></a></th>
        <th>Publication place <br/><a href="?order_by=publication_city__name&direction=asc" class="arrow up"></a> <a href="?order_by=publication_city__name&direction=desc" class="arrow down"></a></th>
        <th>Actions</th>

    </tr>  
    </thead>
    <tbody>
    <br />
{% for publication, cover_image in zipped_data %}
    <tr id="publications">
        <td>{{ publication.date_created }}</td>
        {% if cover_image %}
            <td style="text-align: center;"><a href="/publication/{{ publication.id }}/detail_view"><img src="/media/{{ cover_image }}" width="200" height="200" id="crop_image"></a></td>
        {% else %}
        <td></td>
        {% endif %}
        <td id="test">{{ publication.get_truncated_title }}</td>
        <td>{{ publication.get_truncated_title_translation }}</td>
        <td>
            {{ publication.get_truncated_author_name }}
        </td>
        <td>
            {% if publication.publication_year and not is_periodical %}
                {{ publication.publication_year }}
            {% else %}
                {% if on_going and publication.start_year %}
                    {{ publication.start_year }}-now
                {% elif on_going %}
                    ?-now
                {% elif publication.end_year and publication.start_year %}
                    {{ publication.start_year }}-{{ publication.end_year }}
                {% elif publication.start_year and not publication.end_year %}
                    {{ publication.start_year }}-?
                {% elif publication.end_year and not publication.start_year  %}
                    ?-{{ publication.end_year }}
                {% else %}
                    ?-?
                {% endif %}
            {% endif %}
        </td>
        <td>
        {% if publication.publication_country %}
            {{ publication.publication_country }}, {{ publication.publication_city.name }}
        {% endif %}
        </td>
        <td>
            <a href="/publication/{{ publication.id }}/detail_view">View</a>
            <a href="/publication/{{ publication.id }}/edit?next={{ request.get_full_path }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a class="confirm-delete-pub" href="/publication/{{ publication.id }}/delete">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>  
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?q={{ q }}&page=1&order_by={{order_by}}&direction={{ direction }}">&laquo; first</a>
            <a href="?q={{ q }}&page={{ page_obj.previous_page_number }}&order_by={{order_by}}&direction={{ direction }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?q={{ q }}&page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}">next</a>
            <a href="?q={{ q }}&page={{ page_obj.paginator.num_pages }}&order_by={{order_by}}&direction={{ direction }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}