{% extends "new_base.html" %}
{% load staticfiles %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js" integrity="sha512-UOJe4paV6hYWBnS0c9GnIRH8PLm2nFK22uhfAvsTIqd3uwnWsVri1OPn5fJYdLtGY3wB11LGHJ4yPU1WFJeBYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css" integrity="sha512-qveKnGrvOChbSzAdtSs8p69eoLegyh+1hwOMbmpCViIwj7rn4oJjdmMvWOuyQlTOZgTlZA0N2PXA7iA8/2TUYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
   integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
   crossorigin=""/>   
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>

<style>
#map { height: 700px; }
</style>

<style>
.noUi-handle
{
    border-radius: 25px !important;
    width: 27px !important; 
    box-shadow: none !important;    
}    

.noUi-handle::after, .noUi-handle::before
{
    background: white !important;
}

.noUi-connect 
{
    background: hsl(228.65deg 29.66% 62.15%) !important;
}
</style>


<div id="header">
    <br/>
    <h1><b>PUBLICATIONS IN SPACE AND TIME 1</b></h1>
	
    <div id="slider"></div>

</div>

<p id="ÿear_indicator">2000-{% now "Y" %}</p>

<p id="nr_publications">85 hits</p>

<div id="map"></div>

<table>

{% for publication in publications %}

    <tr class="publication" pk={{ publication.pk }} start_year={{ publication.start_year }} publication_year={{ publication.publication_year }}>
        {% if publication.publication_year is null %}
            <td>{{ publication.start_year }}</td><td>periodical</td>
        {% else %}
            <td>{{ publication.publication_year }}</td><td> </td>
        {% endif %}

        <td><a href="/publication/{{ publication.pk }}/public">{{ publication.title }}</a></td></tr>

{% endfor %}

</table>

<script>
var coordinate = [47, 15]

var map = L.map('map').setView(coordinate, 4);
var markersPerPublicationPK = {};

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 20,
    attribution: '© OpenStreetMap'
}).addTo(map);

{% for publication in publications %}
    //{{ publication.publication_city.name }} {{ publication.publication_city.coordinates_known }} {{ publication.publication_city.x }} {{ publication.publication_city.y }}
    {% if publication.publication_city.coordinates_known %}
        markersPerPublicationPK[{{publication.pk}}] = L.marker([{{ publication.publication_city.x }}, {{ publication.publication_city.y }}]).addTo(map);
    {% endif %}
{% endfor %}

var slider = document.getElementById('slider');

noUiSlider.create(slider, {
    start: [2000, {% now "Y" %}],
    connect: true,
    range: {
        'min': 1970,
        'max': {% now "Y" %}
    }
});

slider.noUiSlider.on('update.one', function (value) 
{
    if (document.getElementById('ÿear_indicator') == null)
    {
        return;
    }

    document.getElementById('ÿear_indicator').innerHTML = Math.round(value[0]) + '-' + Math.round(value[1]);
    updateVisiblePublications(value[0],value[1]);
});

function updateVisiblePublications(from,to)
{
    var publications = document.getElementsByClassName('publication');
    var hits = 0;

    for (var i = 0; i < publications.length; i++) 
    {
        var publication = publications[i];

        var publication_year = publication.getAttribute('publication_year');

        if (publication_year == "None")
        {
            publication_year = publication.getAttribute('start_year');
        }

        var marker = markersPerPublicationPK[publication.getAttribute('pk')];

        if (publication_year >= from && publication_year <= to)
        {
            publication.style.display = 'table-row';

            if (marker != null)
            {
                marker.addTo(map);
            }
            hits++;
        }
        else
        {
            publication.style.display = 'none';

            if (marker != null)
            {
                marker.remove();
            }
        }
    }

    if (document.getElementById('nr_publications') == null)
    {
        return;
    }

    document.getElementById('nr_publications').innerHTML = (hits) + ' hits';
}

updateVisiblePublications(1970,2020);
</script>

{% endblock %}