{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-light">  
    <tr>  
        <th>Firstname </th>  
        <th>Lastname</th>   
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for translator in translators %}  
    <tr>  
        <td>{{ translator.firstname }}</td>  
        <td>{{ translator.lastname }}</td>  
        <td>  
            <a href="/translator/{{ translator.id }}/edit"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/translator/{{ translator.id }}/delete">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/translator/new" class="btn btn-primary">Add New Record</a></center>  
{% endblock %}