{% extends "base.html" %}
{% block content %}
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-light">  
    <tr>  
        <th><span>image title <a href="?order_by=image_title&direction=asc" class="arrow up"></a> <a href="?order_by=image_title&direction=desc" class="arrow down"></a></span></th>
        <th><span>  filecategory <a href="?order_by=filecategory&direction=asc" class="arrow up"></a> <a href="?order_by=filecategory&direction=desc" class="arrow down"></a></span></th>
        <th><span>image contents <a href="?order_by=image_contents&direction=asc" class="arrow up"></a> <a href="?order_by=image_contents&direction=desc" class="arrow down"></a></span></th>
        <th>file </th>
        <th>uploaded at <a href="?order_by=uploaded_at&direction=asc" class="arrow up"></a> <a href="?order_by=uploaded_at&direction=desc" class="arrow down"></a> </th>
        <th>Actions</th>  
    </tr>  
    </thead> 
<br>
<center><a href="/uploadedfile/new" class="btn btn-primary btn-danger ">Add New Uploaded File</a></center>
<br>      
    <tbody>  
{% for uploadedfile in uploadedfiles %}  
    <tr>  
        <td><a href="{% url 'publication-show' %}?q={{uploadedfile.image_title}}">{{ uploadedfile.image_title }}</a></td>
        <td><a href="{% url 'publication-show' %}?uploadedfiles={{uploadedfile.id}}">{{ uploadedfile.filecategory.name }}</a></td>
        <td>
        {% for imagecontent in uploadedfile.image_contents.all %}
            <a href="{% url 'publication-show' %}?uploadedfiles={{uploadedfile.id}}">{{ imagecontent.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </td>
        <td><a href="/media/{{uploadedfile.file}}">{{ uploadedfile.file }}</a></td>
        <td><a href="{% url 'publication-show' %}?q={{uploadedfile.uploaded_at}}">{{ uploadedfile.uploaded_at }}</a></td>
        <td>  
            <a href="/uploadedfile/{{ uploadedfile.id }}/edit"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a class="confirm-delete" href="/uploadedfile/{{ uploadedfile.id }}/delete">Delete</a>
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&order_by={{order_by}}&direction={{ direction }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&order_by={{order_by}}&direction={{ direction }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&order_by={{order_by}}&direction={{ direction }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}