{% extends "new_base.html" %}
{% load staticfiles %}
{% block content %}
<div id="header">
    <br/>
    <h1><b>UPLOADED FILES</b></h1>
    <div id="sub-head">SORT BY <a href="?q={{ q }}&order_by=image_title&direction=asc" class="asearch" id="image_title">Image Title</a>
        <a href="?q={{ q }}&order_by=filecategory&direction=asc" class="asearch" id="filecategory">Filecategory</a>
        <a href="?q={{ q }}&order_by=image_contents&direction=asc" class="asearch" id="image_contents">Image Contents</a>
        <a href="?q={{ q }}&order_by=uploaded_at&direction=asc" class="asearch" id="uploaded_at">Uploaded At</a>
    </div>
        <script>
   function getConfig(){
     return localStorage.getItem('config');
   }
   function setSortConfig(e){
     localStorage.setItem('config', e);
   }
    $('.asearch').click(function() {
        var id = this.id;
        switch(id) {
            case "image_title": {
                state = getConfig()
                if(state == '1000') {
                    document.getElementById("image_title").href = '?order_by=image_title&direction=desc'
                    setSortConfig('2000')
                }
                else {
                    document.getElementById("image_title").href = '?order_by=image_title&direction=asc'
                    setSortConfig('1000')
                }
            }break;
            case "filecategory": {
                state = getConfig()
                if(state == '0100') {
                    document.getElementById("filecategory").href = '?order_by=filecategory&direction=desc'
                    setSortConfig('0200')
                }
                else {
                    document.getElementById("filecategory").href = '?order_by=filecategory&direction=asc'
                    setSortConfig('0100')
                }
            }break;
            case "image_contents": {
                state = getConfig()
                if(state == '0010') {
                    document.getElementById("image_contents").href = '?order_by=image_contents&direction=desc'
                    setSortConfig('0020')
                }
                else {
                    document.getElementById("image_contents").href = '?order_by=image_contents&direction=asc'
                    setSortConfig('0010')
                }
            }break;
            case "uploaded_at": {
                state = getConfig()
                if(state == '0001') {
                    document.getElementById("uploaded_at").href = '?order_by=uploaded_at&direction=desc'
                    setSortConfig('0002')
                }
                else {
                    document.getElementById("uploaded_at").href = '?order_by=uploaded_at&direction=asc'
                    setSortConfig('0001')
                }
            }break;
        }
        return true;
    });
    $( document ).ready(function() {
        if (getConfig() == "false") {
            setSortConfig('2000')
        }
        state = getConfig()
        switch(state) {
            case "2000": {
              $('#image_title').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "0200": {
              $('#filecategory').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "0020": {
              $('#image_contents').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "0002": {
              $('#uploaded_at').css({
                'color': '#9b9ba6',
                'text-decoration': 'none',
            });
            }break;
            case "1000": {
            $('#image_title').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
            case "0100": {
            $('#filecategory').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
            case "0010": {
            $('#image_contents').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
            case "0001": {
            $('#uploaded_at').css({
                'color': '#e1afaf',
                'text-decoration': 'underline',
            });
            }break;
        }
    });
    </script>
</div>
<div id="content" class="infinite-container">
    {% for uploadedfile in uploadedfiles %}
        <div id="publication_content" class="infinite-item">
            <a id="cover_image" ><img src="/media/{{ uploadedfile.file }}" width="200" height="200" id="crop_image"></a>
            <div id="right-element">
                <div id="text-element">
                    <div id="title_text"><a href="{% url 'publication-show-new' %}?uploadedfiles={{uploadedfile.id}}">{{ uploadedfile.get_truncated_image_title_new }}</a></div>
                    <div id="title_translation"><a href="{% url 'publication-show-new' %}?uploadedfiles={{uploadedfile.id}}">{{ uploadedfile.get_truncated_filecategory_new }}</a></div>
                </div>
                <div id="bottom_right-element">
                    <div id="author_name"><a href="{% url 'publication-show-new' %}?uploadedfiles={{uploadedfile.id}}">{{ uploadedfile.get_truncated_image_contents_new }}</a></div>
                    <div id="publication_place_year"><a href="{% url 'publication-show-new' %}?q={{uploadedfile.uploaded_at}}">{{ uploadedfile.uploaded_at }}</a></div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}&order_by={{order_by}}&direction={{ direction }}&affiliated_church={{ affiliated_church }}&authors={{ authors }}&translators={{ translators }}&form_of_publication={{ form_of_publication }}&publication_city={{ publication_city }}&languages={{ languages }}&content_genre={{ content_genre }}&connected_to_special_occasion={{ connected_to_special_occasion }}&currently_owned_by={{ currently_owned_by }}&keywords={{ keywords }}&uploadedfiles={{ uploadedfiles }}&filecategory={{ filecategory }}">next</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoints/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        offset: 'bottom-in-view',

        onBeforePageLoad: function () {

        },
        onAfterPageLoad: function () {

        },
    });
</script>
{% endblock %}