.all_row {
  display: flex;
}

.col_part {
  flex: 50%;
}

#detail_title {
    font-size: 12px;
    font-weight: 400;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(87,95,126,1) 215px, rgba(64,70,94,1) 135px);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a:after {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 5px;}
  .sidenav a {font-size: 18px;}
}
#mySidenav {
    width : 80px;
}
#publications {
}
#churches {
}

#languages {
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #F2F2F2;
}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 15px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
body {
	background-color: #F2F2F2;
    font-weight: 400;
}
#right
{
    position:fixed;
    right:0px;
	top: 10px;
}
#header {
  color: #575757;
}
a:visited{
  color: #9b9ba6;
}
a:hover{
  color: #e1afaf;
}
a {
  color : #9b9ba6;
}
#creation {
  color: #9b9ba6;
}
#church_name{
  color: #9b9ba6;
}
#language_name{
  color: #9b9ba6;
}
#sub-head {
  color : #9b9ba6;
}
.btn-rounded {
  border-radius: 20px;
  background: #A21B1B;
  color: white;
  top: 875px;
  left: 400px;
  position: absolute;
}
#publication_content {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width:500px;
  position: relative;
}
#church_content {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width:500px;
  position: relative;
}
#language_content {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width:500px;
  position: relative;
}
.content-new{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width:500px;
  position: relative;
}
#cover_image {
  display: inline-block;
  position: relative;
  left: 33px;
}
#right-element {
    background: white;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 200px;
    width: 600px;
}
#bottom_right-element {
  background: #ededed;
  position: absolute;
  //left: 300px;
  top: 150px;
  width : 600px;
  height: 50px;
  padding: 17px;
  font-weight: 700;
  color: hsl(0deg 0% 0% / 39%);
  font-size: 12px;
  letter-spacing: 2px;
}
#text-element {
  position: relative;
  width : 600px;
  height : auto;
  padding: 22px;

  background: white;
}
#title_text {
    left: 15px;
    top: 15px;
    right: 15px;
    font-size: 20px;
    font-weight: 900;
    color: hsl(0deg 0% 0% / 65%);
	margin-bottom: 10px;
}
#name_t {
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
}
#original_name_t {
  position: absolute;
  left: 15px;
  top: 40px;
}
#extra_info_t {
  position: absolute;
  left: 15px;
  top: 65px;
}

#title_translation {
  left: 15px;
  top: 75px;
  font-size: 13px;
  color: hsl(0deg 0% 66%);  
}
#publication_place_year{
  position: absolute;
  left: 320px;
  top: 10px;
  font-size: 13px;
}
#author_name{
  position: absolute;
  left:  15px;
  top: 10px;
  font-size: 13px;
}
#important_field{
  font-size: 20px;
}

#description
{
  font-size: 12px;  
}

body {
  font-family: 'Montserrat', sans-serif;
}
#example-search-input {


}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.grid
{
    background-image: url('/static/icons/grid.svg');
    background-repeat: no-repeat;
    top: 10px;
    width: 50px;
    height: 50px;
	right: 17px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.publications > div
{
    background-image: url('/static/icons/publication_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about > div
{
    background-image: url('/static/icons/about_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.churches > div
{
    background-image: url('../icons/church_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.languages > div
{
    background-image: url('../icons/language_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.authors > div
{
    background-image: url('../icons/author_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cities > div
{
    background-image: url('../icons/city_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.filecategories > div
{
    background-image: url('../icons/file_category_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.form_of_publications > div
{
    background-image: url('../icons/publication_type_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.genres > div
{
    background-image: url('../icons/genre_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.keywords > div
{
    background-image: url('../icons/keyword_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.special_occasions > div
{
    background-image: url('../icons/occasion_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.translators > div
{
    background-image: url('../icons/translator_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.uploadedfiles > div
{
    background-image: url('../icons/file_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about.Down > div
{
    background-image: url('../icons/about_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.uploadedfiles.Down > div
{
    background-image: url('../icons/file_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.translators.Down > div
{
    background-image: url('../icons/translator_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.special_occasions.Down > div
{
    background-image: url('../icons/occasion_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.keywords.Down > div
{
    background-image: url('../icons/keyword_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.genres.Down > div
{
    background-image: url('../icons/genre_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.form_of_publications.Down > div
{
    background-image: url('../icons/publication_type_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.filecategories.Down > div
{
    background-image: url('../icons/file_category_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cities.Down > div
{
    background-image: url('../icons/city_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.authors.Down > div
{
    background-image: url('../icons/author_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.publications.Down > div
{
    background-image: url('/static/icons/publication_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.churches.Down > div
{
    background-image: url('../icons/church_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.languages.Down > div
{
    background-image: url('../icons/language_selected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sameicon.Down > div
{
    background-image: url('../icons/select_dot.png');
    background-repeat: no-repeat;
    left:-9px;
    position:absolute;
}
.link
{
	top: 10px;
    width: 50px;
    height: 50px;
	margin-top: 4px;
	margin-bottom: 20px;
    position: relative;
    right: 0px;
	display: block;
	margin-left: auto;
    margin-right: auto;	
}
.link > div
{
    width: 50px;
    height: 50px;
    display:inline-block;
}
#publications {
}

#churches {
}

#languages {
}

#authors {
}

#cities {
}

#filecategories{
}

#form_of_publications{
}

#genres{
}

#keywords{
}

#specialoccasions{
}

#translators{
}

#uploadedfiles{
}

.uploaded-file
{
    float: left;
    width: 310px;
    font-size: 13px;
    text-align: center;
}

.uploaded-file img
{
    margin: 10px;
}

.post-filter-button
{
background-color: hsl(228deg 19% 31%);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 27px;
    margin: 4px;
    float: left;
    color: white;
    cursor: pointer;
    font-size: 10px;
}

.postquery-filter-button-deselected
{
background-color: hsl(228deg 19% 75%);	
}

.post-filter-area
{
	margin-top: 10px;
	overflow: hidden;
}

h1
{
	text-transform: uppercase;
    font-weight: bolder;
    color: hsl(0deg 0% 0% / 64%);
    margin-top: 50px;
    margin-bottom: 20px;
}

p
{
    color: hsl(0deg 0% 0% / 64%);	
}

.erc_logo
{
	margin-left: 260px;
    margin-top: 40px;
    width: 200px;
    border-radius: 40px;
}

.ru_logo
{
    width: 295px;
    margin: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    margin-top: 65px;
}

.genre-bubble
{
    background-color: hsl(228deg 19% 31%);
    width: 154px;
    padding-left: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 16px;
    border-radius: 22px;
    color: white;
    margin-left: 767px;
    margin-bottom: -67px;
    font-size: 10px;
    position: relative;
    z-index: 1000;
    text-align: center;
}