body {
    background-color: #3d3d3d;;
    color: white;
}
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.myImage {
  margin-top: 8px;
  vertical-align: middle;
  width: 139.17px;
  height: 150px;
}
:root {
  --gutter: 20px;
}

.main 
{
  margin-left: 100px;
}
  
.app
{
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
   //grid-auto-columns: calc(50% - var(--gutter) * 2);

  //overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}
a {
    color: #FF0000;
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}
.app {
  width: 375px;
  height: 667px;
  background: #DBD0BC;
  overflow-y: scroll;
  display: grid;
  place-items: center;
}
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  letter-spacing: 8px;
  font-weight: normal;
}
.hs > li,
.item {
  padding: calc(var(--gutter) / 2 * 1.5);
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border-radius: 8px;
  width: 200px;
  height : 300px;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  /*margin-top: 20px;*/
}
@function white($opacity) {
  @return rgba(white, $opacity)
}

.sidenav {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(87,95,126,1) 215px, rgba(64,70,94,1) 135px);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a:after {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.grid
{
    background-image: url('/static/icons/grid.svg');
    background-repeat: no-repeat;
    top: 10px;
    width: 50px;
    height: 50px;
	right: 17px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.publications > div
{
    background-image: url('/static/icons/publication_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about > div
{
    background-image: url('/static/icons/about_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.churches > div
{
    background-image: url('../icons/church_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.languages > div
{
    background-image: url('../icons/language_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.authors > div
{
    background-image: url('../icons/author_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cities > div
{
    background-image: url('../icons/city_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.filecategories > div
{
    background-image: url('../icons/file_category_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.form_of_publications > div
{
    background-image: url('../icons/publication_type_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.genres > div
{
    background-image: url('../icons/genre_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.keywords > div
{
    background-image: url('../icons/keyword_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.special_occasions > div
{
    background-image: url('../icons/occasion_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.translators > div
{
    background-image: url('../icons/translator_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.uploadedfiles > div
{
    background-image: url('../icons/file_deselected.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.link
{
	top: 10px;
    width: 50px;
    height: 50px;
	margin-top: 4px;
	margin-bottom: 20px;
    position: relative;
    right: 0px;
	display: block;
	margin-left: auto;
    margin-right: auto;	
}

.link > div
{
    width: 50px;
    height: 50px;
    display:inline-block;
}

#explanation
{
    margin: auto;
    text-align: center;
    line-height: 2;
    width: 1000px;
	font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    color: #ffffffcf;
	font-size: 13px;
}

.logos
{
	margin-top: 60px;
}

.erc_logo
{
    margin-left: 670px;
    margin-top: -56px;
    width: 130px;
    border-radius: 15px;
}

.ru_logo
{
	width: 240px;
    margin: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 11px;
    margin-top: -24px;
}