<div id="authors-div">
<table id="authors-table" class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">ID</th>
    <th class="text-center" scope="col">Name</th>
    <th class="text-center" scope="col">Name original language</th>
    <th class="text-center" scope="col">Extra info</th>
    <th class="text-center" scope="col">Unlink</th>
  </tr>
  </thead>
  <tbody>
  {% for author in publication.authors.all %}
    <tr>
      <th class="text-center" scope="row">{{ author.pk }}</th>
      <td class="text-center">{{ author.name }}</td>
      <td class="text-center">{{ author.name_original_language }}</td>
      <td class="text-center">{{ author.extra_info }}</td>
      <td class="text-center">
        <!-- Unlink author buttons -->
        <button type="button" class="author-unlink btn btn-sm btn-danger" data-form-url="{% url 'unlink-author' publication.pk author.pk %}">
          <span class="fa fa-trash"></span> Unlink
         </button>
        <!-- update author buttons -->
        <button type="button" id='init-btn{{ author.pk }}' class="btn btn-primary btn-danger" onclick="window.open('{% url 'author-update' author.pk %}','_blank')">
          <span class="fa fa-pencil"></span>
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script>
 $( ".author-unlink" ).click(function() {
     var data = {
        csrfmiddlewaretoken: getCookie('csrftoken'),
    }
    $.post($(this).attr('data-form-url'), data, function(data, status){
        if(status === 'success') {
            $("#authors-div").html(data["table"]);
        }
    });
});
</script>
</div>