<div id="translators-candidates-div">
<table id="translators-table" class="table">
  <thead>
  <tr>
    <th class="text-center" scope="col">ID</th>
    <th class="text-center" scope="col">Name</th>
    <th class="text-center" scope="col">Name original language</th>
    <th class="text-center" scope="col">Extra info</th>
    <th class="text-center" scope="col">Link</th>
  </tr>
  </thead>
  <tbody>
  {% for translator in translators.all %}
    <tr>
      <th class="text-center" scope="row">{{ translator.pk }}</th>
      <td class="text-center">{{ translator.name }}</td>
      <td class="text-center">{{ translator.name_original_language }}</td>
      <td class="text-center">{{ translator.extra_info }}</td>
      <td class="text-center">
        <!-- Update translator buttons -->
        <button type="button" class="translator-edit btn btn-sm btn-primary" data-form-url="{% url 'update-translator' translator.pk %}">
          <span class="fa fa-pencil"></span>
        </button>
        <!-- Link author buttons -->
        <button type="button" class="translator-Link btn btn-sm btn-danger" data-form-url="{% url 'link-translator' publication.pk translator.pk %}">
          <span class="fa fa-plus mr-2"></span> Link
        </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script>
$( ".translator-link" ).click(function() {
    $.post($(this).attr('data-form-url'), function(data, status){
        if(status === 'success') {
            $("#translators-div").html(data["table"]);
            $('#id_search_translators').val('');
            $.post("{% url 'search-translators' publication.pk %}", function(data2, status2){
                if(status2 === 'success') {
                    $("#translators-candidates-div").html(data2["table"]);
                }

            })
        }
    });
});
</script>
</div>