<div id="linkeddocuments3">
    <div class="col-12 mb-3">
    <h5>Linked uploadedfiles</h5>
        {% if publication.uploadedfiles|length >= 0 %}
          {% include "_uploadedfiles_table.html" %}
        {% else %}
          <p class="no-uploadedfiles">No uploadedfiles added yet.</p>
        {% endif %}
    </div>
  </div>
    <div id="searchdocumentpanel3" class="container">
      <div class="row">
       <div class="col"></div>
       <div class="col">
              <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-primary btn-danger" id="uploadedfile-btn" data-toggle="modal" data-target="#FileModal"><span class="fa fa-plus mr-2"></span>Create linked uploadedfile</button>

        <!-- Modal -->
        <div id="FileModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title col-md-10">Create Uploadedfile</h5>
                <button type="button" class="close" id="close-btn" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div id="div_id_image_title" class="form-group">
                   <label for="id_image_title" class="">
                   Image title
                   </label>
                   <div class=""> <input type="text" name="image_title" maxlength="255" class="textinput textInput form-control" id="id_image_title"> </div>
                </div>
                <div class="form-group" >
                   <label for="id_filecategory" class="">
                   Filecategory
                   </label>
                   <div class="">
                      <div class="input-group">
                         <select name="filecategory" id="id_filecategory">
                         </select>
                            <br/>
                            <br/>

                          <a data-toggle="modal" href="#FilecategoryModal" class="btn btn-primary btn-danger">Add Filecategory</a>

                   </div>
                </div>
                </div>
                <div id="div_id_image_contents" class="form-group">
                   <label for="id_image_contents" class="">
                   Image contents
                   </label>
                   <div class=""> <input type="text" name="image contents" maxlength="1000" class="textinput textInput form-control" id="id_image_contents"> </div>
                </div>
                File
                <div id='my-drop-zone' class='needsclick'>
                   <div class="dz-message needsclick">
                      Drop file here or click to upload.
                   </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-btn2" data-dismiss="modal">Close</button>
                <button type="button" id="create-file-btn" class="submit-btn btn btn-danger" data-dismiss="modal">Create</button>
              </div>
            </div>

          </div>
        </div>
        <br/>
        <br/>Search Files:<br/>
        <br/>
        <input type="text" id="id_search_files">
        </input>
        </div>
        <div class="col"></div>
    </div>
      <br/>
      <div class="col-12 mb-3">
      <h5>Uploadedfile candidates</h5>
        {% if uploadedfiles|length >= 0 %}
          {% include "_uploadedfiles_candidates_table.html" %}
        {% else %}
          <p class="no-uploadedfiles">No uploadedfiles added yet.</p>
        {% endif %}
      </div>
    </div>
<!-- Modal -->
<div id="FilecategoryModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title col-md-10">Create Filecategory</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="id_filecategory_name">Name</label>
            <input type="text" name="name" maxlength="100" placeholder="Name" class="form-control" id="id_filecategory_name">
            <div class="">
            </div>
        </div>
        <div id="div_id_order_index" class="form-group"> <label for="id_order_index" class="">
            Order index
        </label> <div class=""> <input type="number" name="order_index" class="numberinput form-control" id="id_order_index"> </div>
        </div>
        <div id="div_id_list_view_priority" class="form-group"> <label for="id_list_view_priority" class="">
            List view priority
        </label> <div class=""> <input type="number" name="list_view_priority" class="numberinput form-control" id="id_list_view_priority"> </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="filecategory-create" class="submit-btn btn btn-primary" data-dismiss="modal">Create</button>
      </div>
  </div>
</div>
</div>
<script type="text/javascript">
$("#filecategory-btn").click(function(e) {
    document.getElementById('id_filecategory_name').value = '';
    document.getElementById('id_list_view_priority').value = 0;
    document.getElementById('id_order_index').value = 0;
});
$("#filecategory-create").click(function(e) {
var fd = new FormData();
fd.append('csrfmiddlewaretoken', getCookie('csrftoken'));
fd.append("name", $('#id_filecategory_name').val());
fd.append("list_view_priority", $('#id_list_view_priority').val());
fd.append("order_index", $('#id_order_index').val());

$.ajax({
  url: "{% url 'filecategory-proces' %}",
  data: fd,
  processData: false,
  contentType: false,
  type: 'POST',
});
});
    $(document).ready(function(){
        $("#id_filecategory").select2({
    minimumInputLength: 0,
    allowClear: true,
    placeholder: "--------",
    ajax: {
        url: "/select2_filecategory",
        dataType: "json",
        type: "GET",

    },
    processResults: function (data) {
        return {
            results: data
        };
    }
});

});
$("#FileModal").on("hidden.bs.modal", function () {
    Dropzone.forElement("#my-drop-zone").removeAllFiles(true);
});
$("#uploadedfile-btn").click(function(e) {
    document.getElementById('id_image_title').value = '';
    document.getElementById('id_image_contents').value = '';
    $("#id_filecategory").select2("val", "0");
});
Dropzone.autoDiscover = false;
var myDropzone = new Dropzone("div#my-drop-zone", {
    url: "{% url 'uploadedfile-proces2' publication.pk %}",
    method: "post",
    autoProcessQueue: false,
    maxFiles: 1,
    addRemoveLinks: true,
    maxfilesexceeded: function(file) {
        this.removeAllFiles();
        this.addFile(file);
    },
    init: function () {
        var myDropzone = this;
        var addButton = $("#create-file-btn");
        var closeButton =  $("#close-btn");
        closeButton.click(function (e) {
            Dropzone.forElement("#my-drop-zone").removeAllFiles(true);
        });
        var closeButton2 =  $("#close-btn2");
        closeButton2.click(function (e) {
            Dropzone.forElement("#my-drop-zone").removeAllFiles(true);
        });
        addButton.click(function (e) {
        if (myDropzone.getQueuedFiles().length > 0) {

            e.preventDefault();
            myDropzone.processQueue();

        }
        });
    },
    sending: function (file, xhr, formData) {
        formData.append('csrfmiddlewaretoken', getCookie('csrftoken'));
        formData.append("image_title", $('#id_image_title').val());
        if ($('#id_filecategory').val() == null) {
            formData.append('filecategory', "");
        }
        else {
            formData.append('filecategory', $('#id_filecategory').val());
        }
        formData.append('image_contents', $('#id_image_contents').val());
    },
    success: function (file, response) {
        $("#uploadedfiles-div").html(response["table"]);
        Dropzone.forElement("#my-drop-zone").removeAllFiles(true);
    }
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
$("#my-drop-zone").addClass("dropzone");

</script>