{% load staticfiles %}


<!DOCTYPE html>
<html>
    <head>
        <title>Four Corners of the World Library</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {{ form.media.css }}
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
        
        <script type="text/javascript" src="{% static 'jquery/js/jquery-3.4.1.min.js' %}">  </script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-tab.js' %}">  </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.css'%}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}">  </script>
        <script src="{% static 'js/dropzone/dist/dropzone.js' %}"></script>
        <link rel="stylesheet" href="{% static 'js/dropzone/dist/basic.css'%}">
        <link rel="stylesheet" href="{% static 'js/dropzone/dist/dropzone.css'%}">
        <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

        <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
        {% block headjavascript %}{% endblock headjavascript %}
   </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% if user.is_authenticated %}
        <div class="nav-link disabled">
            Hi {{ user.username }}!
        </div>
        <a class="nav-link confirm-logout" href="{% url 'logout' %}">logout</a>
        {% else %}
        <div class="nav-link">
            You are not logged in:
        <a href="{% url 'login' %}">login</a>
        </div>
        {% endif %}
    
    <ul class="navbar-nav mr-auto">
    <ul class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Navigate
        </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/author/show/">Authors</a>
          <a class="dropdown-item" href="/translator/show/">Translators</a>
          <a class="dropdown-item" href="/form_of_publication/show/">Form of Publication</a>
          <a class="dropdown-item" href="/city/show/">City</a>
          <a class="dropdown-item" href="/church/show/">Church</a>
          <a class="dropdown-item" href="/language/show/">Language</a>
          <a class="dropdown-item" href="/genre/show/">Genre</a>
          <a class="dropdown-item" href="/special_occasion/show/">Special Occasion</a>
          <a class="dropdown-item" href="/owner/show/">Owner</a>
          <a class="dropdown-item" href="/keyword/show/">Keyword</a>
          <a class="dropdown-item" href="/uploadedfile/show/">Uploaded Files</a>
          <a class="dropdown-item" href="/filecategory/show/">File Category</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/thrashbin/show/">Thrash bin Publications</a>
          <a class="dropdown-item" href="/thrashbin/uploadedfile/show/">Thrash bin Uploaded Files</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/gitlog/">Development log</a>
    </div>
    </ul>
      <li class="nav-item">
        <a class="nav-link" href="/publication/new/?next={{ request.get_full_path }}">New Publication</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/publication/show/">Titles</a>
      </li>
    </ul>
    <nav class="navbar navbar-expand-md">
            <a class="navbar-brand abs" href="/">
                <img src="{% static 'logo/radboud2.png'%}" alt="">
            </a>
    </nav>
    <div style="float:right;">
        <div id="hover-search">
                <form class="form-inline my-2 my-lg-0" action="{% url 'publication-show' %}" method="get" id='search_form'>
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_bar" name="q" style="Text-align: start;unicode-bidi: plaintext;" onkeyup='saveValue(this);'>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  <input type="hidden" id="title" name="search title" value="false" />
                  <input type="hidden" id="title_translation" name="search title translation" value="false" />
                  <input type="hidden" id="author" name="search author" value="false" />
                  <input type="hidden" id="keywords" name="search keywords" value="false" />
                  <input type="hidden" id="image_content" name="search image content" value="false" />
                  <input type="hidden" id="description" name="search description" value="false" />
                  <input type="hidden" id="page_name" name="page name" />
                  <script>
                    document.getElementById("page_name").value = window.location.pathname;
                    if(window.location.pathname === '/uploadedfile/show/'){
                        document.getElementById("search_form").action = "{% url 'uploadedfile-show' %}";
                    }
                    else {
                        document.getElementById("search_form").action = "{% url 'publication-show' %}";
                    }
                  </script>
                </form>

            <div id="below">
                <button type="button" class="btn btn-outline-info highlight" id="highlight1">Title</button>
                <button type="button" class="btn btn-outline-info highlight" id="highlight2">Title translation</button>
                <button type="button" class="btn btn-outline-info highlight" id="highlight3">Author</button>
                <button type="button" class="btn btn-outline-info highlight" id="highlight4">Keywords</button>
                <button type="button" class="btn btn-outline-info highlight" id="highlight5">Image content</button>
                <button type="button" class="btn btn-outline-info highlight" id="highlight6">description</button>
            </div>
        </div>
    </div>
    <script>
        $( document ).ready(function() {

        });
        $('#highlight1').on('click', function() {
            if (document.getElementById('highlight1').classList.contains('active') ) {
                $('#highlight1').removeClass('active');
                $('#title').val('false');
            }
            else {
                $(this).addClass('active');
                $('#title').val('true');
            }
        });
        $('#highlight2').on('click', function() {
            if (document.getElementById('highlight2').classList.contains('active') ) {
                $('#highlight2').removeClass('active');
                $('#title_translation').val('false');
            }
            else {
                $(this).addClass('active');
                $('#title_translation').val('true');
            }
        });
        $('#highlight3').on('click', function() {
            if (document.getElementById('highlight3').classList.contains('active') ) {
                $('#highlight3').removeClass('active');
                $('#author').val('false');
            }
            else {
                $(this).addClass('active');
                $('#author').val('true');
            }
        });
        $('#highlight4').on('click', function() {
            if (document.getElementById('highlight4').classList.contains('active') ) {
                $('#highlight4').removeClass('active');
                $('#keywords').val('false');
            }
            else {
                $(this).addClass('active');
                $('#keywords').val('true');
            }
        });
        $('#highlight5').on('click', function() {
            if (document.getElementById('highlight5').classList.contains('active') ) {
                $('#highlight5').removeClass('active');
                $('#image_content').val('false');
            }
            else {
                $(this).addClass('active');
                $('#image_content').val('true');
            }
        });
        $('#highlight6').on('click', function() {
            if (document.getElementById('highlight6').classList.contains('active') ) {
                $('#highlight6').removeClass('active');
                $('#description').val('false');
            }
            else {
                $(this).addClass('active');
                $('#description').val('true');
            }
        });

        document.getElementById("search_bar").value = getSavedValue("search_bar");

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it .
            var val = e.value; // get the value.
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override .
        }

        //get the saved value function - return the value of "v" from localStorage.
        function getSavedValue  (v){
            if (!localStorage.getItem(v)) {
                return "";// You can change this to your defualt value.
            }
            return localStorage.getItem(v);
        }
    </script>
    </nav>
   <div class="container">
      <div class="row">
        <div class="col-sm">
        {% block content %}{% endblock content %}
        </div>
      </div>
    </div>
     {{ form.media.js }}
    {% block ending %} {% endblock ending %}
    </body>
</html>