{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Four Corners of the World Library</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {{ form.media.css }}
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
        <link rel="stylesheet" href="{% static 'css/base_new.css'%}">

        <script type="text/javascript" src="{% static 'jquery/js/jquery-3.4.1.min.js' %}">  </script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-tab.js' %}">  </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/select2-bootstrap4.css'%}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}">  </script>
        <script src="{% static 'js/dropzone/dist/dropzone.js' %}"></script>
        <link rel="stylesheet" href="{% static 'js/dropzone/dist/basic.css'%}">
        <link rel="stylesheet" href="{% static 'js/dropzone/dist/dropzone.css'%}">
        <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

        <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
        {% block headjavascript %}{% endblock headjavascript %}
   </head>
    <body>
        <div id='right'>
            <div class="container">
            <div class="col-md-10 col-sm-10 col-xs-12">
            <div class="input-group">
            <form class="form-inline my-2 my-lg-0" action="{% url 'publication-show-new' %}" method="get" id='search_form'>
            <input class="form-control py-2 rounded-pill mr-1 pr-5" type="search" value="" name="q" id="example-search-input">
            <span class="input-group-append">
                <button class="btn rounded-pill border-0 ml-n5" type="submit">
                    <i class="fa fa-flip-horizontal fa-search"></i>
                </button>
                <script>
                      if(!window.location.pathname.endsWith('/new/')){
                          $(".input-group").hide();
                      }
                  </script>
            </span>
            </div>
            </div>
            </div>
        </div>

        <div id="mySidenav" class="sidenav">
        <a class="link publications Down" href="/new" id="publications"><div title="publications"></div></a>
        <a class="link churches" href="/new_churches" id="churches"><div title="churches"></div></a>
        <a class="link languages" href="/new_languages" id="languages"><div title="languages"></div></a>
        <a class="link authors" href="/new_authors" id="authors"><div title="authors"></div></a>
        <a class="link cities" href="/new_cities" id="cities"><div title="cities"></div></a>
        <a class="link filecategories" href="/new_filecategories" id="filecategories"><div title="filecategories"></div></a>
        <a class="link form_of_publications" href="/new_form_of_publications" id="form_of_publications"><div title="form of publications"></div></a>
        <a class="link genres" href="/new_genres" id="genres"><div title="genres"></div></a>
        <a class="link keywords" href="/new_keywords" id="keywords"><div title="keywords"></div></a>
        <a class="link special_occasions" href="/new_specialoccasions" id="specialoccasions"><div title="special occasions"></div></a>
        <a class="link translators" href="/new_translators" id="translators"><div title="translators"></div></a>
        <a class="link uploadedfiles" href="/new_uploadedfiles" id="uploadedfiles"><div title="uploaded files"></div></a>
        </div>

<script>
function getState(){
 return localStorage.getItem('state');
}
function setState(state){
 localStorage.setItem('state', state);
}
function setOldState(state) {
  localStorage.setItem('oldstate', state);
}
function getOldstate(){
 return localStorage.getItem('oldstate');
}

$(".link").click(function(e) {
      var id = this.id;
      if(getState() == id)
          return false;
      setOldState(getState());
      setState(id);
      return true;

});


$( document ).ready(function() {
    if(window.location.href.includes("/new/")) {
        $('#' + getOldstate()).removeClass('Down');
        $('#publications').addClass('Down');
    }
    else {
        $('#' + getState()).addClass('Down');
        $('#' + getOldstate()).removeClass('Down');
        if (getState() != "publications") {
            $('#publications').removeClass('Down');
        }
    }
});

</script>
      <div class="container">
          <div class="row">
            <div class="col-sm">
            {% block content %}{% endblock content %}
            </div>
          </div>
      </div>
     {{ form.media.js }}
    {% block ending %} {% endblock ending %}
</body>
</html>